.mainHeader{
    font-size:xx-large;
    color:white;
    padding: 10px;
    background-color: #2E4755;
}
.mainBody{
    padding: 10px;
}
.searchBar{
    width:40%;
}
.main-btn{
    margin-left: 10px;
}
table{
    margin-top: 10px;
    /*border: gray 1px;*/
    text-align: center;
}

td{
    vertical-align: middle;
}
.details{
    margin-bottom: 20px;
}
.details-title{
    padding:10px;
    margin-left: 3px;
    font-size: x-large;
}

.outer{
    display: flex;
    flex-direction: column;
    padding:10px;
}
.inner{
    align-self: flex-end;
}